.Patrols {
    display: flex;
    width: 100%;
    /* max-width: 460px;  */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    /* border: 1px solid #d80799; */
    justify-content: center;
    align-items: center;
    
  }
  
  tr td {
    padding-top: 7px;    /* Add space to the top of each cell */
    padding-bottom: 7px; /* Add space to the bottom of each cell */
  }
  
  th{
    font-size: 12px;
  }
  
  .Patrols table {
    border-collapse: separate;
    border-spacing: 30px 0; /* Adjust the '10px' as needed for your design */
  }
  
  .Headerlist {
    font-size: 10px;
  }
  
  .xButton:focus{
    outline: none;
  }
  
  .xButton{
      background: none;       /* No background */
      color: inherit;         /* Inherits the color from its parent */
      border: none;           /* No border */
      padding: 0;             /* No padding */
      margin-left: 4px;              /* No margin */
      font: inherit;          /* Inherits font from its parent */
      cursor: pointer;        /* Cursor appears as a pointer to indicate it's clickable */
      outline: inherit;       /* Default outline behavior */
      line-height: normal;    /* Normal line height */
      overflow: visible;      /* No overflow */
      text-transform: none;   /* No text capitalization */
      appearance: none;       /* Removes platform-specific styling */
      box-shadow: none;       /* No box shadow */
  }