:root {
  --background-nav: #29292c; /* Black background for the navbar */
  --icon-color: #fff; /* White color for the icons */
  --icon-size: 32px; /* Standard icon size */
  --nav-width: 100px; /* Width of the navbar */
  --nav-padding: 16px; /* Padding inside the navbar */
  --nav-item-gap: 2rem; /* Space between nav items */
  --logout-icon-size: 48px; /* Size of the logout icon */
  --logout-bg: #29292c; /* Logout background, same as nav for uniform color */
  --logout-margin-top: auto; /* Push logout to the bottom */

}

.NavWrapper {
  border: 1px solid green;
  background-color: var(--background-nav);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--nav-padding) 0;
  width: var(--nav-width);
  height: 90vh;
  margin-top: 0rem;
  margin-left: 1rem;
  border-radius: 1rem;
  margin-right: 20rem;
  margin-bottom: 10rem;
  color: var(--icon-color);
  
}

.MenuHeader {
  color: var(--icon-color);
  background: var(--background-nav);
}

.NavLogo {
  color: var(--icon-color);
  background-color: var(--background-nav);
  width: var(--icon-size);
  height: var(--icon-size);
  margin-bottom: var(--nav-item-gap);
 
}

.NavBody {
  color: var(--icon-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  gap: var(--nav-item-gap);
  background-color: var(--background-nav); /* Ensure uniform color */
}

.NavItem {
  color: var(--icon-color);
  background-color: var(--background-nav);
  width: var(--icon-size);
  height: var(--icon-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.NavItem img {
  
  background-color: var(--background-nav);
  width: 100%;
  height: auto;
  color: var(--icon-color);
}

/* Removed hover background color and padding to maintain icon size */
.NavItem:hover, .NavItem.active {
  /* You can keep this selector if you want to add other styles on hover/active */
}

.Logout {
  background-color: var(--background-nav);
  background-color: var(--background-nav);
  padding-top: 7rem;
  margin-top: var(--logout-margin-top);
  width: var(--logout-icon-size);
  height: var(--logout-icon-size);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logout img {
  background-color: var(--background-nav);
  width: 40%; /* Smaller than the container to create padding */
  height: auto;
}
